*{
    margin: 0;
    padding: 0;
}
#header{
background-color: aqua;
padding: 5px 15px;
 display: flex; 
justify-content: space-between;
 align-items: center; 
position:sticky;
top: 9px;
z-index: 99;
}
#menu-items{
    display: flex;
    gap: 15px;
    align-items: center;
} 
#menu-items button{
    padding: 5px 10px;
    background-color: rgb(red green blue / alpha);
    border: 1px solid green;
    border-radius: 5px;
}
#ask-me{
    padding: 5px 10px;
    background-color: rgb(red green blue / alpha);
    border: 1px solid green;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
 button:hover{
     color: blue;
    background-color:gold;
}
button:active{
    color: blueviolet;
    background-color: blueviolet;
}
#menu-items button:hover{
    color: blue;
    background-color:gold;

}
#menu-items button :active{
    color: bisque;
}
a{
    text-decoration: none;
}
a:hover{
    background-color:aquamarine;
    color: brown;
}
#section1{
    display: flex;
    gap: 20px;
}
#ricr-img-div{
    widht:500px;
    height: 500px;
    position: relative;

}
#ricer-img{
    width: fit;
    height: inherit;
}   
#read-more,
#learn-more
{
    padding:5px 10px;
    background: rgb(249 135 135 );
    border: 1px solid red;
}
#learn-more {
  position: absolute;
  bottom: -435px;
  left: 45%;
}
