*{
background-color: aqua;
}
.kuchhbhi{

background-color: blue;
color:red;
}
.hi{
    background-color: brown;
    color: aquamarine;
}
#submitbutton{
background-color: blueviolet;
color: burlywood;
}
#name{
background-color: azure;
}