*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header1{
    background-color: rgb(74, 74, 250);
color: white;
    border: 1px solid black;
    padding: 12px 50px;
}
#contact{ 
    margin-right:10px ;
    margin-left: 90px;
}

 header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 7%;
    position:static;
 }

nav{
    display: flex;
    align-items: center;
   gap:30px;
}
nav a{
    text-decoration: none;
    color:#555;
    font-size: 16px;
}
nav a:hover{
    color: rgb(74, 74, 250);
    text-decoration: underline;
}
nav a:active{
    color: rgb(250, 5, 185);
    font-weight: bold;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display:none;
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    background-color:white;
    width:250px;
   list-style:none;
padding:10px 0;
margin:0;
border:1px solid #f198c9;
border-top-color: #5f05f0;
border-bottom-color: #05f08a;
border-radius:4px;
}
.dropdown:hover .dropdown-menu{
    display:block;
    
}
.dropdown-menu  a{
    display:block;
    padding:12px 25px;
    color:#555;
    /* text-decoration: none; */
}
.dropdown-menu  a:hover{
    background-color: #f5f5f5;
}
.log{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
