body{
    background-color: bisque;
}
.main{
    background-color: aquamarine;
    color: blueviolet;
} 

#card{
background-color: cornsilk;
width: 500px;
height: 300px;
}

 #card p{
    background-color: blue;
    color: red;
    border: 5px groove rgb(66, 213, 130);
    height: 230px;
    overflow:auto;
}
#clickBtn{
    background-color: rgb(165, 242, 211);
    border: 1px solid green;
    border-radius: 3px;
    box-shadow: 5px 2px 5px grey;
    width: 90px;
    height: 20px;
}
#clickBtn:hover{
    background-color: white;
    color: green;
}
h2{
    text-align: center;
    color: turquoise;
}
#clickBtn:active{
    background-color:green ;
    color: white;
}
img{
    width: 190px;
    height: 150px;
  margin-left: 520px;
}